/* Style for profile page */


.complete-profile-container select {
    margin-top: 8px; 
    padding: 6px 10px; 
    width: calc(50%);
    font-size: 25px;
    background-color: transparent;
    border: 1px solid gray;
    color: black; 
    border-radius: 5px; 
}
